# Maven
target/
*.iml

# Logs
*.log

# Build folders
build/
.classpath
.mvn/
.settings/
.springBeans

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Eigene Anpassungen
HELP.md